<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Teste Page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
    <!-- ** BEGIN HEADER ** -->
    <header class="header" th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="/" class="navbar-brand">Sistema</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarMenu" aria-controls="navbarMenu"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/instituicoes/index">
                            Instituições
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alunos/index">
                            Alunos
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ** END HEADER ** -->


    <!-- ** BEGIN FOOTER ** -->
    <footer class="footer fixed-bottom" th:fragment="footer">
        <p class="text-center">&copy; 2020</p>
    </footer>

    <!-- ** END FOOTER ** -->
</body>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</html>