<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Alteração de Instituição</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>

    <div class="container-fluid">

        <div th:replace="fragmentos/fragmentos :: header"></div>

        <div class="row-cols-1">
            <div class="col-12">

                <div class="row">
                    <h2> Editar Instituição</h2>
                </div>

                <div class="row">
                    <div class="col-12 align-content-center">
                        <form action="/instituicoes/inserir" method="post" th:object="${instituicao}">
                            <div class="form-group">
                                <label for="txt_nome">Nome da instituição:</label>
                                <input type="text" class="form-control" id="txt_nome" placeholder="Nome"
                                       th:field="*{nome}">
                            </div>
                            <div class="form-group">
                                <label for="txt_endereco">Endereço:</label>
                                <input type="text" class="form-control" id="txt_endereco" placeholder="Endereco"
                                       th:field="*{endereco}">
                            </div>
                            <input type="hidden" th:field="*{id}">
                            <input type="submit" class="btn btn-primary" value="Salvar"/>
                            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                        </form>
                    </div>

                </div>

            </div>
        </div>

        <div th:replace="fragmentos/fragmentos :: footer"></div>
    </div>

</body>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</html>