<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>


    <div class="container-fluid">
        <div th:replace="fragmentos/fragmentos :: header"></div>

        <h2 th:text="${msg}"></h2>

        <div th:replace="fragmentos/fragmentos :: footer"></div>
    </div>
</body>
<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="webjars/popper.js/1.14.3/popper.min.js"></script>
<script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</html>